In [18]:
import pandas as pd
import glob

In [20]:
filepath = glob.glob("../data/data-drift/*.csv")
filepath

['../data/data-drift\\fraudTest-sample-drift-2.csv',
 '../data/data-drift\\fraudTest-sample-drifted.csv']

In [21]:
data_logs_list = glob.glob("../data/data-drift/*.csv")
data_logs_list

['../data/data-drift\\fraudTest-sample-drift-2.csv',
 '../data/data-drift\\fraudTest-sample-drifted.csv']

In [ ]:

reference = pd.read_csv("../data/reference/fraudTest-sample.csv")
reference.head()

In [15]:
reference = reference.drop(labels="trans_date_trans_time", axis=1) # We do not need datetime column
reference.head()

,Unnamed: 0,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2291163933867240,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,3573030041201290,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,3598215285024750,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,3591919803438420,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,3526826139003050,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [17]:
reference = reference.select_dtypes(include="number") # We keep only numbers
reference.head()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0,2291163933867240,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,1,3573030041201290,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,2,3598215285024750,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,3,3591919803438420,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,4,3526826139003050,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [ ]:
reference = reference.drop(labels="trans_date_trans_time", axis=1) # We do not need datetime column
reference = reference.select_dtypes(include="number") # We keep only numbers

In [ ]:
def _detect_file():
    data_logs_list = glob.glob("../data/data-drift/*.csv")
    print(f"Files detected: {data_logs_list}")
    if not data_logs_list:
        print("No files found.")
        return False
    data_logs_filename = max(data_logs_list, key=os.path.getctime)
    print(f"Selected file: {data_logs_filename}")
    return True

print(_detect_file())

In [28]:
def _detect_file():
    """Detects if a file named `*.csv` is inside `./data/data-drift` folder.

    If yes, it saves the full path to XCom and return True. False otherwise.
    """
    data_logs_list = glob.glob("../data/data-drift/*.csv")
    if not data_logs_list:
        return False
    data_logs_filename = max(data_logs_list, key=os.path.getctime)
    print(f"Selected file: {data_logs_filename}")
    return True

print(_detect_file())

Selected file: ../data/data-drift\fraudTest-sample-drifted.csv
True